<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Final Task" parallel="tests" thread-count="2">
    <test name="Selenium Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SeleniumTest">
            </class>
        </classes>
    </test>
    <test name="Selenide Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTest">
            </class>
        </classes>
    </test>
</suite>
